<footer>
        <section class="bg-black text-white ">
            <div class="bg-black text-white flex h-[25rem] justify-around pt-30 w-[80%] mx-auto">
                <div class="flex flex-col">
                    <span class="font-bold text-xl mb-7">VELORA</span>
                    <span class="mb-3 text-xl">Classic looks for Men, Women & Kids.</span>
                    <div class="space-x-3 mt-16">
                        <span class="mb-3"><i class="fa-brands fa-instagram cursor-pointer hover:text-red-500"></i></span>
                        <span class="mb-3"><i class="fa-brands fa-facebook cursor-pointer hover:text-red-500"></i></span>
                        <span class="mb-3"><i class="fa-brands fa-linkedin cursor-pointer hover:text-red-500"></i></span>
                        <span class="mb-3"><i class="fa-brands fa-x-twitter cursor-pointer hover:text-red-500"></i></span>
                    </div>
                </div>
                <div class="flex flex-col">
                    <span class="font-bold text-xl mb-7">Quick Links</span>
                    <span class="mb-3 cursor-pointer hover:text-red-500">Home</span>
                    <span class="mb-3 cursor-pointer hover:text-red-500">Shop</span>
                    <span class="mb-3 cursor-pointer hover:text-red-500">About</span>
                    <span class="mb-3 cursor-pointer hover:text-red-500">Contact</span>
                </div>
                <div class="flex flex-col">
                    <span class="font-bold text-xl mb-7 ">Shop</span>
                    <span class="mb-3 cursor-pointer hover:text-red-500">Mens Wear</span>
                    <span class="mb-3 cursor-pointer hover:text-red-500">Womens wear</span>
                    <span class="mb-3 cursor-pointer hover:text-red-500">Kids Wear</span>
                    <span class="mb-3 cursor-pointer hover:text-red-500">Accessories</span>
                </div>
                <div class="flex flex-col">
                    <span class="font-bold text-xl mb-7">Help</span>
                    <span class="mb-3 cursor-pointer hover:text-red-500">FAQ'S</span>
                    <span class="mb-3 cursor-pointer hover:text-red-500">Return Policy</span>
                    <span class="mb-3 cursor-pointer hover:text-red-500">Order Status</span>
                    <span class="mb-3 cursor-pointer hover:text-red-500">Shipping & Delivery</span>
                </div>
                <div class="flex flex-col">
                    <span class="font-bold text-xl mb-7">My Profile</span>
                    <span class="mb-3 cursor-pointer hover:text-red-500">My Account</span>
                    <span class="mb-3 cursor-pointer hover:text-red-500">Track Order</span>
                    <span class="mb-3 cursor-pointer hover:text-red-500">My Cart</span>
                    <span class="mb-3 cursor-pointer hover:text-red-500">Order History</span>
                </div>
            </div>
            <hr class="mx-auto bg-white w-3/4">
            <p class="py-8 ml-[12rem]">Copyright © 2025 Clothing Store All rights reserved</p>
        </section>
    </footer>
</body>
</html>