<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>
        <section>
            <div class="bg-[url('/img/about-img/about-bg.png')] bg-cover bg-center w-full h-[540px] text-white flex justify-center items-center flex-col">
                <div class="bg-black opacity-70 w-full h-[540px] text-white flex justify-center items-center flex-col">
                    <div>
                        <h2 class="font-bold w-[25rem] text-[xxx-large] text-center text-white">Style That Moves With You</h2>
                    </div>
                    <div>
                        <p class="text-lg text-white">Born from a passion for timeless design and everyday comfort</p>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="pt-20 pb-20">
                <div class="text-center">
                    <h1 class="font-bold text-[xxx-large]">What Makes Velora Stand Out</h1>
                    <p class="text-lg">Style, Comfort & More – Here’s Why You’ll Love Us</p>
                </div>
                <div class="pt-20 flex space-x-6 w-[80%] mx-auto">
                    <div class="border border-gray-400 rounded-2xl w-[17rem] text-center p-[2rem] h-75">
                        <img src="/img/about-img/premium.png" alt="premium quality" class="pl-13">
                        <h3 class="font-bold text-xl p-4">Premium Quality</h3>
                        <p>Crafted with care using soft, durable fabrics designed to last and feel amazing.</p>
                    </div>
                    <div class="border border-gray-400 rounded-2xl w-[17rem] text-center p-[2rem] h-75 mt-16">
                        <img src="/img/about-img/timeless.png" alt="Timeless Style" class="pl-13">
                        <h3 class="font-bold text-xl p-4">Timeless Style</h3>
                        <p>Clean silhouettes and versatile pieces you can wear season after season.</p>
                    </div>
                    <div class="border border-gray-400 rounded-2xl w-[17rem] text-center p-[2rem] h-75">
                        <img src="/img/about-img/inhouse.png" alt="In-House Design" class="pl-13">
                        <h3 class="font-bold text-xl p-4">In-House Design</h3>
                        <p>Every detail is imagined by our in-house design team to bring you standout staples.</p>
                    </div>
                    <div class="border border-gray-400 rounded-2xl w-[17rem] text-center p-[2rem] h-75 mt-16">
                        <img src="/img/about-img/everyone.png" alt="For Every Body" class="pl-13">
                        <h3 class="font-bold text-xl p-4">For Every Body</h3>
                        <p>Inclusive fits and sizes designed to flatter all shapes, ages, and styles.</p>
                    </div>
                </div> 
            </div>
        </section>

        <section>
            <div class="pt-20 bg-[#eee4e5] mt-20 relative">
                <div>
                    <img src="/img/about-img/about-clothing.jpg" alt="about-clothing">
                </div>
                <div class="w-[38rem] h-[35rem] bg-white text-center content-center border border-white rounded-4xl pl-10 pr-10 absolute top-40 right-20">
                    <h2 class="font-bold text-3xl">More Than Just Clothing</h2>
                    <p class="pt-2.5">At Velora, we believe fashion should feel as good as it looks. Born from a passion for timeless design and everyday comfort, our mission is simple: to create versatile, high-quality clothing that empowers confidence — for everyone, every day.</p>
                    <p class="pt-5">Whether you're dressing up for a moment or down for the everyday, our collections are made to move with you, evolve with your lifestyle, and elevate your wardrobe — effortlessly.</p>
                </div>
                <div class="flex bg-black text-white mt-40 h-[41rem]">
                    <div class="w-[50%] text-center content-center p-32 z-1">
                        <h2 class="font-bold text-4xl">Thoughtfully Designed for All</h2>
                        <p class="mt-8 text-lg">Our range covers Men, Women, and Kids, with each piece carefully crafted to combine form, function, and feeling. From the perfect polo to the softest loungewear and statement outerwear, everything at Velora is designed with real life in mind — easy to wear, easy to love. We also believe in the power of details. That’s why we obsess over fit, fabric, and finish — so you don’t have to.</p>
                    </div>
                    <div class="w-[70%]">
                        <img src="/img/about-img/about-us-bg.png" alt="about-us-bg" class="h-[100%]">
                    </div>
                </div>
            </div>
        </section>
        <%- include('../partials/offer') %>
    </main>    
<%- include('../partials/footer') %>