<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>
        <section>
            <div class="bg-[url('/img/blog-img/blog-hero.jpg')] bg-cover bg-center w-full h-[40rem] relative">
                <div class="absolute top-[14rem] left-[54rem]">
                    <div>
                        <h2 class="font-bold text-[4rem] w-[25rem] text-black">Style, Tips & More</h2>
                    </div>
                    <div>
                        <p class="text-lg text-black">Welcome to The Velora Edit, your go-to destination for all things fashion.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="mt-20 flex flex-wrap space-x-9 space-y-7 w-[80%] mx-auto mb-10">
            <div class="h-[30rem] bg-amber-50 w-[23rem] border border-none rounded-2xl overflow-hidden">
                <div><img src="/img/blog-img/blog-post-06.jpg" alt="blog-post-06" class="border border-none rounded-t-2xl transition-transform duration-300 hover:scale-110"></div>      
                <div class="p-5 space-y-3">
                    <div><h2 class="text-2xl font-bold">Top 5 Accessories That Elevate Any Look</h2></div>
                    <div><h3 class="font-bold">May 15, 2025 | 2 minutes of reading</h3></div>
                    <div><p>1. Statement Earrings: The Instant Game-Changer Nothing draws attention quite like a pair of bold statement earrings. Whether you prefer […]</p></div>
                    </div>
            </div>
            <div class="h-[30rem] bg-amber-50 w-[23rem] border border-none rounded-2xl overflow-hidden">
                <div><img src="/img/blog-img/blog-post-05.jpg" alt="blog-post-05" class="border border-none rounded-t-2xl transition-transform duration-300 hover:scale-110"></div>      
                <div class="p-5 space-y-3">
                    <div><h2 class="text-2xl font-bold">Mix, Match, Repeat: Building Outfits with Fewer Pieces</h2></div>
                    <div><h3 class="font-bold">May 15, 2025 | 1 minutes of reading</h3></div>
                    <div><p>Make the Most of What You Have Creating stylish outfits doesn’t require an overflowing closet—it’s all about making smart choices</p></div>
                    </div>
            </div>
            <div class="h-[30rem] bg-amber-50 w-[23rem] border border-none rounded-2xl overflow-hidden">
                <div><img src="/img/blog-img/blog-post-04.jpg" alt="blog-post-04" class="border border-none rounded-t-2xl transition-transform duration-300 hover:scale-110"></div>      
                <div class="p-5 space-y-3">
                    <div><h2 class="text-2xl font-bold">Velora Kids: Fashion Meets Functionality</h2></div>
                    <div><h3 class="font-bold">May 15, 2025 | 1 minutes of reading</h3></div>
                    <div><p>Designed for Play, Styled for Life At Velora Kids, we believe children’s clothing should never make you choose between looking</p></div>
                    </div>
            </div>
            <div class="h-[30rem] bg-amber-50 w-[23rem] border border-none rounded-2xl overflow-hidden">
                <div><img src="/img/blog-img/blog-post-03.jpg" alt="blog-post-03" class="border border-none rounded-t-2xl transition-transform duration-300 hover:scale-110"></div>      
                <div class="p-5 space-y-3">
                    <div><h2 class="text-2xl font-bold">Our Favorite Summer Looks: Light, Breezy & Bold</h2></div>
                    <div><h3 class="font-bold">May 15, 2025 | 2 minutes of reading</h3></div>
                    <div><p>Effortless Chic: The Power of Linen & Cotton When the temperature rises, comfort meets style in the form of lightweight</p></div>
                    </div>
            </div>
            <div class="h-[30rem] bg-amber-50 w-[23rem] border border-none rounded-2xl overflow-hidden">
                <div><img src="/img/blog-img/blog-post-02.jpg" alt="blog-post-02" class="border border-none rounded-t-2xl transition-transform duration-300 hover:scale-110"></div>      
                <div class="p-5 space-y-3">
                    <div><h2 class="text-2xl font-bold">How to Style One Jacket Three Ways</h2></div>
                    <div><h3 class="font-bold">May 15, 2025 | 2 minutes of reading</h3></div>
                    <div><p>Look 1: Casual Day Out Whether you’re grabbing a coffee or heading to a weekend market, your go-to jacket can</p></div>
                    </div>
            </div>
            <div class="h-[30rem] bg-amber-50 w-[23rem] border border-none rounded-2xl overflow-hidden">
                <div><img src="/img/blog-img/blog-post-01.jpg" alt="blog-post-01" class="border border-none rounded-t-2xl transition-transform duration-300 hover:scale-110"></div>      
                <div class="p-5 space-y-3">
                    <div><h2 class="text-2xl font-bold">5 Must-Have Staples for a Capsule Wardrobek</h2></div>
                    <div><h3 class="font-bold">May 15, 2025 | 2 minutes of reading</h3></div>
                    <div><p>1. The Classic White Shirt A crisp white shirt is a timeless essential that effortlessly transitions from professional to casual.</p></div>
                    </div>
            </div>
        </section>
    </main>
<%- include('../partials/footer') %>  