<%- include('../partials/head')%>
<body>
    <%- include('../partials/header')%>
    <main>
        <section>
            <div class="bg-[url('/img/home-img/home-hero-bg.jpg')] bg-cover bg-center w-full h-[38rem] text-white flex justify-center items-center flex-col">
                <div class="bg-black opacity-70 w-full h-[38rem] text-white flex justify-center items-center flex-col">
                    <div>
                        <h2 class="font-bold w-[35rem] text-[xxx-large] text-center text-white">Timeless Fashion for the Modern Wardrobe</h2>
                    </div>
                    <div>
                        <p class="text-lg text-white w-[35rem] text-center mt-4">Discover timeless fashion for Men, Women, and Kids – crafted for comfort, designed for confidence.</p>
                    </div>
                    <div>
                        <button class="text-white bg-red-600 w-62 h-11 border border-none rounded-3xl mt-8 cursor-pointer">EXPLORE THE COLLECTION</button>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class=" mt-[5rem] w-[80%] mx-auto">
                <div class="flex justify-between">
                    <div>
                        <h2 class="text-[xxx-large] font-bold">New Arrivals</h2>
                        <p class="text-[medium] pt-3">Be the first to wear this season’s latest looks. Handpicked and freshly styled.</p>
                    </div>
                    <div class="float-right">
                        <button class="text-red-600 bg-white border border-red-600 rounded-3xl h-12 w-48 mt-8 hover:text-white hover:bg-red-600 transition duration-300 cursor-pointer">SEE WHAT'S NEW</button>
                    </div>
                </div>
                <div class="flex space-x-7 mt-20">
                    <div>
                        <div>
                            <div><img src="/img/home-img/1-flowline.png" alt="1-flowline" class="cursor-pointer"></div>
                        </div>
                        <h2 class="py-4 text-xl font-bold cursor-pointer">Flowline Dresses</h2>
                        <p class="opacity-60">Women</p>
                        <h3 class="text-lg font-bold mb-3">₹200.00 – ₹250.00</h3>
                        <div>
                            <button class="border border-black px-2 py-1 space-x-2 cursor-pointer">M</button>
                            <button class="border border-black px-2 py-1 space-x-2 cursor-pointer">L</button>
                            <button class="border border-black px-2 py-1 space-x-2 cursor-pointer">XL</button>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div><img src="/img/home-img/polo-tshirt.jpg" alt="polo-tshirt" class="cursor-pointer"></div>
                        </div>
                        <h2 class="py-4 text-xl font-bold cursor-pointer">Essential Polos</h2>
                        <p class="opacity-60">Men</p>
                        <h3 class="text-lg font-bold mb-3">₹80.00 – ₹90.00</h3>
                        <div>
                            <button class="border border-black px-2 py-1 space-x-2 cursor-pointer">M</button>
                            <button class="border border-black px-2 py-1 space-x-2 cursor-pointer">L</button>
                            <button class="border border-black px-2 py-1 space-x-2 cursor-pointer">XL</button>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div><img src="/img/home-img/cream-tshirt-.jpg" alt="cream-tshirt" class="cursor-pointer"></div>
                        </div>
                        <h2 class="py-4 text-xl font-bold cursor-pointer">Cream T-Shirt</h2>
                        <p class="opacity-60">Men</p>
                        <h3 class="text-lg font-bold mb-3">₹60.00 – ₹65.00</h3>
                        <div>
                            <button class="border border-black px-2 py-1 space-x-2 cursor-pointer">M</button>
                            <button class="border border-black px-2 py-1 space-x-2 cursor-pointer">L</button>
                            <button class="border border-black px-2 py-1 space-x-2 cursor-pointer">XL</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="pt-15 mt-15 bg-[#eee4e5]">
            <div class="w-[80%] mx-auto text-center pb-28">
                <div>
                    <h2 class="text-[xxx-large] font-bold">Our Categories</h2>
                    <p class="py-8">Explore a wide range of styles, handpicked to suit every taste and need.</p>
                </div>
                <div class="flex flex-wrap">
                <div class="w-[38rem] h-[27rem] relative">
                    <div class="pt-6">
                        <img src="/img/home-img/category-01.jpg" alt="category-01" class="border border-black rounded-3xl">
                    </div>
                    <div class="bg-white border border-none rounded-3xl absolute left-15 top-90 h-28 w-110 text-center content-center">
                        <h3 class="text-[x-large] font-bold">Mens Wear</h3>
                        <button class="text-red-600 cursor-pointer">Shop Now</button>
                    </div>
                </div>
                <div class="w-[38rem] h-[27rem] mb-12 relative">
                    <div class="pt-6">
                        <img src="/img/home-img/category-02.jpg" alt="category-01" class="border border-black rounded-3xl">
                    </div>
                    <div class="bg-white border border-none rounded-3xl absolute left-15 top-90 h-28 w-110 text-center content-center">
                        <h3 class="text-[x-large] font-bold">Womens Wear</h3>
                        <button class="text-red-600 cursor-pointer">Shop Now</button>
                    </div>
                </div>
                <div class="w-[38rem] h-[27rem] relative">
                    <div class="pt-6">
                        <img src="/img/home-img/category-03.jpg" alt="category-01" class="border border-black rounded-3xl">
                    </div>
                    <div class="bg-white border border-none rounded-3xl absolute left-15 top-90 h-28 w-110 text-center content-center">
                        <h3 class="text-[x-large] font-bold">Kids Wear</h3>
                        <button class="text-red-600 cursor-pointer">Shop Now</button>
                    </div>
                </div>
                <div class="w-[38rem] h-[27rem] relative">
                    <div class="pt-6">
                        <img src="/img/home-img/category-04.jpg" alt="category-01" class="border border-black rounded-3xl">
                    </div>
                    <div class="bg-white border border-none rounded-3xl absolute left-15 top-90 h-28 w-110 text-center content-center">
                        <h3 class="text-[x-large] font-bold">Accessories</h3>
                        <button class="text-red-600 cursor-pointer">Shop Now</button>
                    </div>
                </div>
            </div>
            </div>
        </section>

        <section>
            <div class=" mt-[5rem] w-[80%] mx-auto pb-20">
                    <div class="text-center">
                        <h2 class="text-[xxx-large] font-bold">Bestsellers</h2>
                        <p class="text-[medium] pt-3">From cult-favorite jackets to must-have dresses – These are our customer faves.</p>
                    </div>
                <div class="flex space-x-7 mt-20">
                    <div>
                        <div>
                            <div><img src="/img/home-img/black-hoodie.jpg" alt="black-hoodie" class="cursor-pointer"></div>
                        </div>
                        <h2 class="py-4 text-xl font-bold cursor-pointer">Black Hoodie</h2>
                        <p class="opacity-60">Women</p>
                        <h3 class="text-lg font-bold mb-3">₹160.00 – ₹170.00</h3>
                        <div>
                            <button class="border border-black px-2 py-1 space-x-2 cursor-pointer">M</button>
                            <button class="border border-black px-2 py-1 space-x-2 cursor-pointer">L</button>
                            <button class="border border-black px-2 py-1 space-x-2 cursor-pointer">XL</button>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div><img src="/img/home-img/1-flowline.png" alt="1-flowline" class="cursor-pointer"></div>
                        </div>
                        <h2 class="py-4 text-xl font-bold cursor-pointer">Flowline Dresses</h2>
                        <p class="opacity-60">Women</p>
                        <h3 class="text-lg font-bold mb-3">₹200.00 – ₹250.00</h3>
                        <div>
                            <button class="border border-black px-2 py-1 space-x-2 cursor-pointer">M</button>
                            <button class="border border-black px-2 py-1 space-x-2 cursor-pointer">L</button>
                            <button class="border border-black px-2 py-1 space-x-2 cursor-pointer">XL</button>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div><img src="/img/home-img/Skirt-Pic.png" alt="Skirt-Pic" class="cursor-pointer"></div>
                        </div>
                        <h2 class="py-4 text-xl font-bold cursor-pointer">Dot Skirt</h2>
                        <p class="opacity-60">women</p>
                        <h3 class="text-lg font-bold mb-3">₹100.00 – ₹110.00</h3>
                        <div>
                            <button class="border border-black px-2 py-1 space-x-2 cursor-pointer">M</button>
                            <button class="border border-black px-2 py-1 space-x-2 cursor-pointer">L</button>
                            <button class="border border-black px-2 py-1 space-x-2 cursor-pointer">XL</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class=" mt-[5rem] w-[80%] mx-auto pb-20">
                    <div class="text-center content-center">
                        <h2 class="text-[xxx-large] font-bold w-80 ml-110">What Our Shoppers Say</h2>
                        <p class="text-[medium] pt-3">Store that nails fashion and comfort.</p>
                    </div>

                    <div class="flex space-x-6 pt-15">
                    <div class="pt-4 bg-[#eee4e5] border border-none rounded-3xl w-[33%] h-[35rem]">
                        <figure class="my-5 ">
                            <blockquote class="bg-[#eee4e5] pl-8 pr-8 py-12 mt-5 relative">
                                <p class="text-left text-lg text-black mt-2 before:content-['\201C'] before:font-serif before:absolute before:top-0 before:left-0 before:text-9xl before:text-red-700  before:transform before:translate-x-2 before:translate-y-2">
                                “Velora has completely transformed how I shop for clothes. Every piece feels thoughtfully designed and incredibly comfortable — from their polos to their jackets. It’s rare to find a brand that gets the fit, style, and quality right every single time.”
                                </p>
                                <div class="flex mt-12">
                                    <div><img src="/img/home-img/testimonial-01.png" alt="testimonial-01"></div>
                                    <div class="text-lg font-bold content-center pl-6">Jessica M., San Diego</div>
                                </div>
                            </blockquote>
                        </figure>
                    </div>

                    <div class="mt-18 bg-[#eee4e5] border border-none rounded-3xl w-[33%] h-[35rem]">
                        <figure class="my-5 ">
                            <blockquote class="bg-[#eee4e5] pl-8 pr-8 py-12 mt-5 relative">
                                <p class="text-left text-lg text-black mt-2 before:content-['\201C'] before:font-serif before:absolute before:top-0 before:left-0 before:text-9xl before:text-red-700  before:transform before:translate-x-2 before:translate-y-2">
                                “I’m always looking for clean, versatile styles I can wear to work or on the weekends — and Velora delivers. I picked up a few items from their Men’s collection and was blown away by the craftsmanship. The trousers, especially, have become my go-to.”
                                </p>
                                <div class="flex mt-12">
                                    <div><img src="/img/home-img/testimonial-02.png" alt="testimonial-02"></div>
                                    <div class="text-lg font-bold content-center pl-6">Darren L., New York</div>
                                </div>
                            </blockquote>
                        </figure>
                    </div>

                    <div class="pt-4 bg-[#eee4e5] border border-none rounded-3xl w-[33%] h-[35rem]">
                        <figure class="my-5 ">
                            <blockquote class="bg-[#eee4e5] pl-8 pr-8 py-12 mt-5 relative">
                                <p class="text-left text-lg text-black mt-2 before:content-['\201C'] before:font-serif before:absolute before:top-0 before:left-0 before:text-9xl before:text-red-700  before:transform before:translate-x-2 before:translate-y-2">
                                “Shopping for myself and my daughter usually means bouncing between stores, but Velora made it easy. I loved the quality of the dresses I ordered, and my daughter adored her Mini Mode pieces. Stylish, comfortable, and built to last — we’re both fans for life!”
                                </p>
                                <div class="flex mt-12">
                                    <div><img src="/img/home-img/testimonial-03.png" alt="testimonial-03"></div>
                                    <div class="text-lg font-bold content-center pl-6">Michelle T., Chicago</div>
                                </div>
                            </blockquote>
                        </figure>
                    </div>
                </div> 
            </div>
        </section>
         
        <%- include('../partials/offer')%> 
    </main>   
<%- include('../partials/footer')%>